<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheryev.crm.auth.mapper.BaseModuleResourcesMapper">
  <resultMap id="BaseResultMap" type="com.cheryev.crm.auth.model.BaseModuleResources">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="MODULE_id" jdbcType="INTEGER" property="moduleId" />
    <result column="MODULE_CODE" jdbcType="VARCHAR" property="moduleCode" />
    <result column="MODULE_type" jdbcType="VARCHAR" property="moduleType" />
    <result column="IS_OPERATING" jdbcType="INTEGER" property="isOperating" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="SYSTEM_ID" jdbcType="VARCHAR" property="systemId" />
    <result column="ACTIVE" jdbcType="INTEGER" property="active" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MODULE_id, MODULE_CODE, MODULE_type, IS_OPERATING, SORT, SYSTEM_ID, ACTIVE, CREATE_DATE, 
    UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_module_resources
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_module_resources
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cheryev.crm.auth.model.BaseModuleResources">
    insert into base_module_resources (ID, MODULE_id, MODULE_CODE, 
      MODULE_type, IS_OPERATING, SORT, 
      SYSTEM_ID, ACTIVE, CREATE_DATE, 
      UPDATE_DATE)
    values (#{id,jdbcType=INTEGER}, #{moduleId,jdbcType=INTEGER}, #{moduleCode,jdbcType=VARCHAR}, 
      #{moduleType,jdbcType=VARCHAR}, #{isOperating,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{systemId,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cheryev.crm.auth.model.BaseModuleResources">
    insert into base_module_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="moduleId != null">
        MODULE_id,
      </if>
      <if test="moduleCode != null">
        MODULE_CODE,
      </if>
      <if test="moduleType != null">
        MODULE_type,
      </if>
      <if test="isOperating != null">
        IS_OPERATING,
      </if>
      <if test="sort != null">
        SORT,
      </if>
      <if test="systemId != null">
        SYSTEM_ID,
      </if>
      <if test="active != null">
        ACTIVE,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="updateDate != null">
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="moduleCode != null">
        #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleType != null">
        #{moduleType,jdbcType=VARCHAR},
      </if>
      <if test="isOperating != null">
        #{isOperating,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cheryev.crm.auth.model.BaseModuleResources">
    update base_module_resources
    <set>
      <if test="moduleId != null">
        MODULE_id = #{moduleId,jdbcType=INTEGER},
      </if>
      <if test="moduleCode != null">
        MODULE_CODE = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleType != null">
        MODULE_type = #{moduleType,jdbcType=VARCHAR},
      </if>
      <if test="isOperating != null">
        IS_OPERATING = #{isOperating,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        SORT = #{sort,jdbcType=INTEGER},
      </if>
      <if test="systemId != null">
        SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        ACTIVE = #{active,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cheryev.crm.auth.model.BaseModuleResources">
    update base_module_resources
    set MODULE_id = #{moduleId,jdbcType=INTEGER},
      MODULE_CODE = #{moduleCode,jdbcType=VARCHAR},
      MODULE_type = #{moduleType,jdbcType=VARCHAR},
      IS_OPERATING = #{isOperating,jdbcType=INTEGER},
      SORT = #{sort,jdbcType=INTEGER},
      SYSTEM_ID = #{systemId,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>